/* Mobile Portrait View */
@media screen and (max-width:767px) {
*{box-sizing:border-box;}
.left, .right, .copyright-txt, .design-by,.headertop .left, .headertop .right{ float:none; margin:0 auto; text-align:center;}
.center{width:auto;}
.container { width:auto; padding:0 20px;}
.footer{ padding-top:40px;  padding-bottom:30px;}
.wrap_one{width:auto; text-align:center;}
.header { width:100%; padding:0;}
.logo{ float:none; text-align:center; margin:0 auto; padding:16px 0px 60px 0px; position:relative; width: auto; display:table;}
.headertop{ text-align:center;}
.headertop .left{ font-size:13px;}
.headertop .left span{ padding-left:30px; margin-left:15px;}
/*coloumn css*/
.welcomewrap img{ margin: 0 0 15px; float:none; width:100%;}
/*sidebar css*/
#sidebar{ width:100%; float:none;}
.headertop .header-inner, .widget-left, .topright{ width:auto; padding:0; float:none;}
.topbar-container{ float:none;}
.widget-right{ width:280px; margin:0 auto; float:none; padding:15px 0; display:table; text-align:center;}
.widget-right ul li{ border:none;}
.welcomewrap{ width:auto;}
.header-social-icons a{ width:20px;}
.widget-column-2{ padding:0; border:0;}
.nivo-directionNav a{z-index:999999;}
.spinner{margin: 200px auto;}

/* --------- Pages ------- */
.content-area{ width:auto; margin:0; padding:50px 20px;}
.site-main{ width:auto; margin:0; padding:0 0 20px; float:none;}
/*slider css*/
#slider{ top:0; margin:0;}
.nivo-directionNav a{ top:39% !important;}
.nivo-caption, .nivo-controlNav{ display:none !important;}
/*footer css */
.copyright-wrapper{ text-align:center;}
.cols-3{ width:100% !important; display:block; margin-right:0; margin-bottom:15%;}
/*custom css*/
h2.section_title{ text-align:center;}
/*front blog post*/
.BlogPosts{ float:none; width:auto; margin:0 0 10% 0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:100%;}
.headertop .social-icons a{ display:inline-block;}
.threebox{ float:none; width:auto; margin:0 0 30px 0;}
.slider-wrapper{min-height:120px;}
.head-info-area .left .phntp{border-left:none; border-right:none; padding: 16px 5px;}
.head-info-area .left .emltp{border-right:none; padding: 16px 8px;}
.social-icons a{border:none !important;}
.logo h2{font-size:25px;}
.hmheader{background-color:#191a25 !important; position:relative !important;}
.resourcebox-icon{height:120px; width:120px;}
.builder-card__item_v2 .builder-card__front{width:100% !important; height:100% !important;}
.skt-builder-block-title h2{font-size:35px !important;}
.show_hide, .show_hide1, .togmenu, .mobmenu	{display:block;}

#fullpage-sidebar { width:100%; min-height:inherit; height:auto; margin-bottom:0; position:static;}
.navig-area { margin-bottom:0;}
#fullpage-content { width:100%; overflow:visible; margin-left:0; height:auto; float:left;}
.frontmanage { margin:0;}
.areadivide .front-page-content, .areadivide #sidebar { width:100%;}
.aligncenter, div.aligncenter { width:100% !important;}
#supersized img { height:667px !important; object-fit:cover; left:0 !important; width:100% !important;}
.fullpage-logo { margin-bottom:15px;}
.fullpage-logo img { margin-top:15px;}
#slidecaption { margin-right:30px;}
#slidefillimage { max-width: 320px; min-width: 320px;}
.slide-title { font-size:19px;}
#slidecaption { top:150px;}
#prevslide, #nextslide { top:110px !important;}
.laycontentover { margin-left:20px;}
#colclose{display:none;}
}

/* Mobile Landscape View */
@media screen and (min-width: 480px) and (max-width: 767px){
#supersized img { height:400px !important;}
#slidecaption { top:60px;}
#prevslide, #nextslide { top:20px !important;}
}

/* Tablet View */
@media screen and (max-width:1023px) and (min-width:768px) { 
*{box-sizing:border-box;}
.center{width:auto;}
.social-icons a{ box-sizing:content-box; margin-bottom:5px; }
.container { width:auto; padding:0 20px;}
.logo{ width:100%; float:none; position:relative; text-align:center; padding:15px 0;}
/*slider css*/
.slide_info p{margin:15px 0 15px 0;}
.slide_info h2{ font-size:40px !important; line-height:40px; }
.content-area{ width:auto; margin:0; padding:50px 20px;}
#sidebar{ width:30%;}
.site-main{ width:65%;}
.cols-3 h5{ font-size:22px;}
.welcomewrap img{ width:50%;}
.slider-wrapper{min-height:200px;}
.footer{ padding-top:40px;  padding-bottom:30px;}
input.search-field, .post-password-form input[type="password"]{width:62%;}
.show_hide, .show_hide1, .togmenu, .mobmenu	{display:block;}

#fullpage-sidebar { width:100%; min-height:inherit; height:auto; margin-bottom:0; position:static;}
.navig-area { margin-bottom:0;}
#fullpage-content { width:100%; overflow:visible; margin-left:0; height:auto; float:left;}
.frontmanage { margin:0;}
.aligncenter, div.aligncenter { width:100% !important;}
#supersized img { height:1000px !important; object-fit:cover; left:0 !important; width:100% !important;}
#slidecaption { top:320px;}
#prevslide, #nextslide { top:280px !important;}
.fullpage-logo { margin-bottom:15px;}
.fullpage-logo img { margin-top:15px;}
.laycontentover { margin-left:20px;}

}


@media screen and (max-width:1100px) and (min-width:1024px) {

#supersized img { height:768px !important; object-fit:cover; left:0 !important; width:100% !important;}

}